#main {
    height: 100vh;
    display: flex;
    background-image: url(bbburst.svg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
}

h1 {
    color: black;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.main-box{
    background-color: white;
    width: 25%;
    height: 60%;
    border-radius: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#main_page{
    display: block;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.button-wrapper button {
    width: 60%;
    padding: 15px;
    background-color: #2196F3;
    border: 0;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.button-wrapper button:hover{
    background-color: #2195f387;
}

/* CAMERA "PAGE" */

#camera_page {
    display: none;
}

.camera-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

#click-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: black;
}

#click-photo:hover{
    background-color: rgba(0, 0, 0, 0.581);
}