:root {
    --background-color: #2196F3;
    --main-color: #2196F3;
    --hover-main-color: #2195f387;
    --main-white: rgb(247, 243, 243);
    --secondary-color: #a7a7a7;
}


.small-buttons {
    background-color: var(--background-color);
    border: 0;
    color: var(--main-white);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.small-buttons:hover {
    background-color: var(--hover-main-color);
}