body {
    font-family: 'Open Sans', sans-serif;
}

#main {
    height: 100vh;
    display: flex;
    background-image: url(bbburst.svg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

h1 {
    color: black;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.main-box{
    background-color: var(--main-white);
    width: 25vw;
    height: 60vh;
    border-radius: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#main_page{
    display: block;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.button-wrapper button, .upload_button{
    width: 60%;
    padding: 15px;
    background-color: var(--main-color);
    border: 0;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-white);
    cursor: pointer;
    font-size: 20px;
}

.button-wrapper button:hover, .upload_button:hover{
    background-color: var(--hover-main-color);
}

@media only screen and (max-width: 1200px) and (min-width: 700px){
    .main-box {
        width: 40vw;
    }
}

@media only screen and (max-width: 700px){
    .main-box {
        width: 50vw;
    }
}

@media only screen and (max-height: 400px){
    .main-box {
        height: 380px;
    }
}
