#upload_page{
    display: none;
}

.upload-content{
    display: flex;
    justify-content: center;
    height: 90%;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center;    
}

.upload-content label{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.result-wrapper{
    width: 95%;
    display: grid;
    width: 80%;
    gap: 6px;
    grid-template-columns: 3fr 1fr;
}

.result-wrapper input, .result-wrapper textarea{
    border: 1px solid lightgrey;
    background-color: transparent;
    border-radius: 2px;
    padding: 5px;
    resize: none;
}

#output {
    width: 100%;
    height: 40%;
    margin-top: 20px
}

#output img{
    max-width: 50%;
    max-height: 100%;
}

#sets-wrapper {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#buy-button{
    border-radius: 2px;    
    width: 80px;
    height: 30px;

}

#loading-page{
    width: 25vw;
    height: 60vh;
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 63%);
}

#loading-page img{
    width: 30%;
    height: 28%;
}

@media only screen and (max-width: 1200px) and (min-width: 700px){
    #loading-page {
        width: 40vw;
    }
}

@media only screen and (max-width: 700px){
    #loading-page{
        width: 50vw;
    }
    
}

@media only screen and (max-height: 400px){
    #loading-page {
        height: 380px;
    }
}